
@font-face {
    font-family: 'Whyte';
    src: local('Whyte-Light'),
         url('/assets/Whyte-Light.woff') format('woff'),
         url('/assets/Whyte-Light.ttf') format('ttf'); 
  }

@font-face {
    font-family: 'Whyte Inktrap';
    src: local('Whyte-Inktrap-Medium'),
         url('/assets/Whyte-Inktrap-Medium.woff') format('woff'),
         url('/assets/Whyte-Inktrap-Medium.ttf') format('ttf'); 
  }

.bg {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C4C4C4;
}

.container {
    width: 100%;
}

.chat-box {
    background-color: black;
    width: 1000px;
    height: 680px;
    border-radius: 10px;
    box-shadow: 20px 20px 40px rgba(0,0,0,0.5);
    vertical-align: middle;
    margin-bottom: 15px;
}

.chat-title-box {
    padding-left: 12px;
    padding-top: 10px;
    display: flex;
}

.oval {
    display: flex;
}

.oval img {
    width: 12px;
    height: 12px;
    padding-left: 5px;
}

.window-title {
    width: 100%;
    font-family: Whyte Inktrap;
    font-size: 13px;
    color: #959595;
    text-align: center;
}

.inner-box {
    background-color: #121212;
    margin-top: 8px;
    width: 1000px;
    height: 610px;
    border-top: 1px solid #2D2D2D;
    border-bottom: 1px solid #2D2D2D;
    display: flex;
}

.entry {
    color: white;
    display: flex;
    width: 600px;
    height: 610px;
}

.diary-content {
    display: flex;
    width: 600px;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-block {
    background-color: #121212;
    display: flex;
    height: 57px;
    border-bottom: 1px solid #2D2D2D;
    border-right: 1px solid #2D2D2D;
}

.menu-block:hover {
    background-color: #222121;
}

.menu-block-last {
    background-color: #121212;
    color: white;
    display: flex;
    height: 60px;
    border-right: 1px solid #2D2D2D;
}

.about {
    background-color: #1A1A1A;
}

.icon {
    display: flex;
    width: 60px;
    margin-top: 12px;
    margin-left: 12px;
}

.icon img {
    height: 35px;
    width: 35px;
}

.channel-text {
    margin-top: 12px;
    width: 100%;
    margin-left: 10px;
    line-height: 110%;
}

.title {
    color: white;
    text-align: left;
    font-family: Whyte Inktrap;
    font-size: 13px;
    border-bottom-color: black;
}

a {
    text-decoration: none;
}

.message {
    color: #DDDDDD;
    text-align: left;
    font-family: Whyte;
    font-size: 13px;
}

.time-date {
    color: #959595;
    text-align: right;
    font-family: Whyte;
    font-size: 11px;
    width: 60px;
    padding-right: 10px;
}

.date {
    padding-top: 12px;
}

.time {
    padding-top: 14px;
}

.day {
    color: white;
    padding-top: 25px;
    text-align: center;
    font-family: Whyte Inktrap;
    font-size: 13px;
}

.day1 {
    color: white;
    padding-top: 12px;
    text-align: center;
    font-family: Whyte Inktrap;
    font-size: 13px;
}

.year {
    color: white;
    padding-top: 25px;
    text-align: center;
    font-family: Whyte Inktrap;
    font-size: 13px;
}

.chat-block {
    background-color: #222121;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.chat-text {
    color: #DDDDDD;
    text-align: left;
    font-family: Whyte;
    font-size: 13px;
    line-height: 140%;
}

.chat-time {
    color: #959595;
    align-self: flex-end;
    text-align: right;
    font-family: Whyte;
    font-size: 11px;
}

.size-1 {
    width: 200px;
}

.size-2 {
    width: 280px;
}

.size-3 {
    width: 360px;
}

.size-4 {
    width: 460px;
}

.size-5 {
    width: 510px;
}

.pic-1 img {
    width: 200px;
    padding-bottom: 15px;
}

.pic-2 img {
    width: 280px;
    padding-bottom: 15px;
}

.pic-3 img {
    width: 360px;
    padding-bottom: 15px;
}

.pic-4 img {
    width: 460px;
    padding-bottom: 15px;
}

.pic-5 img {
    width: 510px;
    padding-bottom: 15px;
}

.pic-h315 img {
    height: 315px;
    padding-bottom: 15px;
}

.pic-253w img {
    width: 253px;
    padding-bottom: 15px;
}

.page-title-box {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: black;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid #2D2D2D;;
}

.title-icon {
    display: flex;
    padding-left: 20px;
    padding-top: 8px;
}

.title-icon img {
    height: 25px;
    width: 25px;
}

.page-title {
    display: flex;
    padding-left: 15px;
    padding-top: 15px;
    color: white;
    font-family: Whyte Inktrap;
    font-size: 13px;
}

.back-sign {
    padding-top: 9px;
    padding-left: 10px;
    text-align: right;
}

.back-sign a{
    font-family: Whyte;
    font-size: 11px;
    color: #959595;
}

.page-subtitle {
    display: flex;
    color: #959595;
    font-family: Whyte;
    font-size: 10px;
    padding-top: 17px;
    padding-left: 15px;
}

.project-page {
    margin-left: 20px;
}

.menu-outer {
    width: 100%;
    height: 24px;
    background-color: black;
    z-index: 1;
    position: fixed;
    border-bottom: 1px solid #2D2D2D;
}

.menu-outer-down {
    bottom: 0%;
    width: 100%;
    height: 38px;
    background-color: black;
    z-index: 1;
    position: fixed;
    border-top: 1px solid #2D2D2D;
}

.words {
    padding-top: 12px;
    font-family: Whyte Inktrap;
    font-size: 13px;
    color: #959595;
    text-align: center;
}

.mob-about {
    padding-top: 36px;
    background-color: #1A1A1A;
}

@media screen and (min-width: 580px) {

    .menu {
        display: none;
        padding-top: 0px;
    }

    .menu-outer {
        display: none;
    }

    .menu-outer-down {
        display: none;
    }

    .back-sign a{
        visibility: hidden;
    }
    .about {
        border-top: 1px solid #2D2D2D;
    }

}

@media screen and (max-width: 580px) {

    .bg {
        height: 38px;
        background-color: #121212;
    }

    .chat-box {
        height: 0px;
        display: none;
    }

    .inner-box {
        display: none;
    }

    .entry {
        display: none;
    }

    .size-1 {
        width: 295px;
    }
    
    .size-2 {
        width: 295px;
    }
    
    .size-3 {
        width: 295px;
    }
    
    .size-4 {
        width: 295px;
    }
    
    .size-5 {
        width: 295px;
    }
    
    .pic-1 img {
        width: 295px;
        padding-bottom: 15px;
    }
    
    .pic-2 img {
        width: 295px;
        padding-bottom: 15px;
    }
    
    .pic-3 img {
        width: 295px;
        padding-bottom: 15px;
    }
    
    .pic-4 img {
        width: 295px;
        padding-bottom: 15px;
    }
    
    .pic-5 img {
        width: 295px;
        padding-bottom: 15px;
    }

    .pic-h315 img {
        height: 200px;
        padding-bottom: 15px;
    }
  }